[submodule "15-Minute-Venice"]
	path = 15-Minute-Venice
	url = https://github.com/ccpfoye/15-Minute-Venice.git
[submodule "napoleonic-cadaster-maps"]
	path = napoleonic-cadaster-maps
	url = https://github.com/LYL010-ADELA/napoleonic-cadaster-maps.git
